<div class="container-fluid bannerr">
  <h1>Artists</h1>
  <div class="dropdown text-center">
    <button class="btn btn-default dropdown-toggle text-center" type="button" data-toggle="dropdown">Order artist by name
    <span class="caret text-center"></span></button>
    <ul class="dropdown-menu text-center">
      <li class="text-center">From A-Z<% @artists.order_by_name %></li>
      <li class="text-center">From Z-A<% @artists.order_by_name.reverse %></li>
    </ul>
  </div>
</div>
  <br><br>
  <div class="container">
     <div class="row">
      <% @artists.each do |artist| %>
      <div class="col-md-6">
      <h3 class="text-center"><%= link_to artist.name, artist %></h3>
      <%= image_tag artist.photo.image, :class => "img-thumbnail" %>
    </div>
      <% end %>
        <br>
    </div>
</div>
