<div class="container-fluid bannerr">
  <h1>Artists</h1>
  <div class="container text-center">
    <%= link_to "", artists_path(sort_by: "Name A-Z"), class: "glyphicon glyphicon-sort-by-alphabet a-z" %></li>
    <%= link_to "", artists_path(sort_by: "Name Z-A"), class: "glyphicon glyphicon-sort-by-alphabet-alt a-z" %></li>
  </div>
  <br>
</div>
<div class="container">
  <br><hr>
  <div class="row">
    <% @artists.each do |artist| %>
      <div class="col-xs-6">
        <h3 class="text-center"><%= link_to artist.name, artist %></h3>
        <%= link_to image_tag(artist.photo.image, class:"img-thumbnail"), artist %>
      </div>
    <% end %>
    <br>
  </div>
</div>
