<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Codaisseurify!</h1>
    <p>&#9835; This app contains a collection of artists and their songs &#9835;</p>
    <img src="http://res.cloudinary.com/maressajoseph/image/upload/c_scale,e_art:incognito,h_150,w_150/v1495873577/Noticias-15693-jlg2_630_mag8ip.jpg">
    <img src="http://res.cloudinary.com/maressajoseph/image/upload/c_scale,e_art:incognito,h_150,w_150/v1495873607/pablo_alboran_zd1pxv.jpg">
    <img src="http://res.cloudinary.com/maressajoseph/image/upload/c_scale,e_art:incognito,w_150/v1495896354/photo_kbffe5.jpg">
    <img src="http://res.cloudinary.com/maressajoseph/image/upload/c_scale,e_art:incognito,h_150,w_150/v1495885654/yl6fxukts10i1wmoggt1.jpg">
    <br><br>
    <%= link_to "Go see all artists", artists_path, class: "btn home-btn" %>
  </div>
</div>
