<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Codaisseurify!</h1>
    <p>Artists & Songs</p>
    <%= link_to "Learn more", about_path, class: "btn btn-default" %>
  </div>
</div>
