@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #4b4d4a;
  font-family: 'Raleway', sans-serif;
}

.navbar-brand {
	font-size: 26px;
  font-weight: 500;
}

.navbar-default .navbar-brand {
	color: #ffce00;
}

.a-z {
  font-size: 20px;
}


.whole_container{
  padding: 3rem;
  display: flex;
  }

.jumbotron {
  background-color: #3d9863;
}

.bannerr {
  color: #333332;
  text-align: center;
  background-color: #3d9863;
}

.bannerr h1 {
  font-size: 60px;
}

a {
  text-decoration: none;
  color: #def0e5;
}

h2 {
  color: #333332;
}

.add-song {
  color: #3d9863;
}

a:hover {
  text-decoration: none;
  color: #ffce00;
}

.box {
  margin: 4rem;
  background-color: rgba(19,19,19,0.15);
  padding:1rem;
  border-radius: 1%;
  width: auto;
}

p {
  font-size: 15px;
  color: #def0e5;
}

.panel-body {
  margin: 2rem;
  background-color: rgba(19,19,19,0.15);
  padding: 3rem;
}

.formlabel {
  font-size: 17px;
  color: #def0e5;
  margin-top: 9px;
}

footer {
  font-size: 15px;
  color: #def0e5;
}

.home-btn {
  font-size: 20px;
  color: #ffce00;
}

.error {
  font-size: 20px;
  color: #ffce00;
}

.music {
  font-size: 20px;
  color: #ffce00;
}

nav a:hover {
  color: #ffce00;
}

.img-thumbnail {
  height: 400px;
  width: 600px;
}

.dropdown-menu {
  align-content: center;
}

.img-small {
  height: 200px;
  width: 210px;
}
