@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #4b4d4a;
  font-family: 'Raleway', sans-serif;
}

.whole_container{
  padding: 3rem;
  display: flex;
  }

.jumbotron {
  background-color: #3d9863;
}

.bannerr {
  color: #333332;
  text-align: center;
  background-color: #3d9863;
}

.bannerr h1 {
  font-size: 60px;
}

a {
  text-decoration: none;
  color: #def0e5;
}

h2 {
  color: #333332;
}

a:hover {
  text-decoration: none;
  color: #ffce00;
}

.box {
  margin: 4rem;
  background-color: rgba(170, 170, 170, 0.15);
  padding:1rem;
  border-radius: 8%;
}

p {
  font-size: 15px;
  color: #def0e5;
}

.panel-body {
  margin: 2rem;
  background-color: rgba(190, 190, 190, 0.25);
  padding: 3rem;
}

.formlabel {
  font-size: 17px;
  color: #def0e5;
  margin-top: 9px;
}

footer {
  font-size: 15px;
  color: #def0e5;
}

.home-btn {
  font-size: 20px;
  color: #ffce00;
}

.error {
  font-size: 20px;
  color: #ffce00;
}

.music {
  font-size: 20px;
  color: #ffce00;
}

nav a:hover {
  color: #ffce00;
}

.img-thumbnail {
  height: 400px;
  width: 600px;
}
